<div class="team-members" style="margin-bottom: 500px">
  <div class="tm-head">
    <h3>关于我们</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“石大易班”是中国石油大学（华东）依托教育部“易班网”建设而成的学生综合互动社区。易班网是高校教育教学，生活服务，文化娱乐的综合性互动社区，为在校师生提供主页定制，在线学习，活动发布，兴趣交友等教育信息化一站式服务功能，这是我们的团队。</p>
    <div class="tm-head-grids">
      <div class="tm-head-grid">
        <img src="images/team-member1.jpg" alt="" />
        <h4>整个团队</h4>
      </div>
      <div class="tm-head-grid">
        <img src="images/team-member2.jpg" alt="" />
        <h4>技术开发部</h4>
      </div>
      <div class="tm-head-grid">
        <img src="images/team-member3.jpg" alt="" />
        <h4>人力行政部</h4>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="tm-head-grids">
      <div class="tm-head-grid">
        <img src="images/team-member4.jpg" alt="" />
        <h4>网络运营部</h4>
      </div>
      <div class="tm-head-grid">
        <img src="images/team-member5.jpg" alt="" />
        <h4>信息采编部</h4>
      </div>
      <div class="tm-head-grid">
        <img src="images/team-member6.jpg" alt="" />
        <h4>视觉设计部</h4>
      </div>
    </div>
  </div>
</div>


