<div class="row marketing">
  <div class="border">
    <h3>易班介绍</h3>
    <p>
      &nbsp;&nbsp;&nbsp;易班（Yiban）是一个融合新闻、论坛、博客、微博、社交等功能的综合性实
      名制网络平台，其目标用户群体为中国大陆高校的师生。易班得到了中华人民
      共和国教育部和国家互联网信息办公室的支持，建立了教育部易班发展中心。
      易班的推广和建设也成为了高校的重点工作之一。
    </p>
  </div>
  <div class="border">
    <h3>易班注册流程</h3>
    <p>&nbsp;&nbsp;&nbsp;亲爱的小伙伴儿们,进入数字石大，点击我的易班。然后点击"我没有易班账号"进行注册，输入手机号以及验证信息，
      设置完学院和年级就完成了。快来试验一下吧。</p>
    <img src="images/login1.jpg" alt="" width="100%" height="">
    <img src="images/click.jpg" alt="" width="30px">
    <a href="http://yb.upc.edu.cn/project/ybjieshao" style="">常见问题</a><!--易班介绍-->
  </div>
  <div class="border">
    <h3>轻应用介绍</h3>
    <img src="images/易查询.png" alt="" class="img">
    <p>石大易查询</p>
    <p>石大易查询是由网络中心提供接口，石大易班发展中心技术部进行二次开发，为学生提供：空教室查询、成绩查询和课表查询的轻应用。</p>
    <img src="images/开放时间.png" alt="" class="img">
    <p>生活查询</p>
    <p>生活查询是用来为学生提供基本查询的静态网页，现在能够查询荟萃和玉兰水房的开放时间，以及图书馆大门和各个书库的开放时间，还可以查询图书馆五楼机房的开放时间。</p>
    <img src="images/大物实验.png" alt="" class="img">
    <p>大物实验</p>
    <p>大物实验是石大易班发展中心技术部开发，为学生提供大物实验数据辅助处理的工具。</p>
    <img src="images/备忘清单.png" alt="" class="img">
    <p>备忘清单</p>
    <p>备忘清单是石大易班发展中心技术部开发，为学生提供：对事情的记录，最大的特点是，把你做的事情的和未做的事情很清楚的显示出来。
    </p>
  </div>
</div>
